
.bundle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0px 30px;
    background: url('../../assets/Hero_fade.png');
 }

 .bundle>.right-col{
    margin-left: 40px;
 }

 .bundle>.right-col>h1{
    line-height: 50px;
    font-size: 40px;
 }

 .bundle>.right-col>h1 span.txt {
       color: #B15A1A;
 }

 .bundle>.right-col>h1{
    margin-bottom: 20px;
 }
 .bundle>.right-col>button.login  {
    height: 56px;
    padding: 16px 45px 16px 45px;
    border-radius: 20px;
    font-size: 24px;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    background: #B15A1A;
    border: 2px solid #B15A1A;
    transition:background-color 0.3s ease in;
 }

 .right-col>button.my-links{
     color: black;
 }
 .bundle>.right-col>button.login:hover {
    
   color: black;
 }
 .bundle>.right-col>button {
    background: #B15A1A;
    height: 56px;
    padding: 16px 45px 16px 45px;
    border-radius: 20px;
    color: aliceblue;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 20px 20px 0px 0px;
 }

 .bundle>.left-col>img{
    transform: translateX(160px);

 }

 
