.bundle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0px 30px;  
    background: url('images/Hero_fade.png');
    background-position: center;
    background-size: contain;
    
 }
 .bundle .right_col{
    width: 50%;
 }
 .bundle .left_col{
    width: 50%;
 }
 
 .bundle  > .right_col > h1{
    line-height: 80px;
    font-size: 60px;
 }
 
 .bundle > .right_col > h1 span .txt {
       color: #B15A1A;
 }
 
 .bundle > .right_col > h1{
    margin-bottom: 20px;
 }
 .bundle > .right_col > .bundle_lite > button {
    height: 56px;
    padding: 16px 55px 16px 55px;
    border-radius: 20px;
    font-size: 24px;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #B15A1A;
    transition: background-color 0.3s ease in;
 }
 
 .bundle > .right_col button a {
      text-decoration: none;
      color: aliceblue;
 }
 
 .bundle_lite > .login > .my_link{
    color: black;
    
 }
 
 .bundle > .right_col > .bundle_lite button.login {
         background: transparent;
         border: 2px solid #B15A1A;
         transition: .5s ease-in-out;
 }
 
 .bundle > .right_col > .bundle_lite button.login:hover {
   background-color:#D8AC8C;
   color:black;   
 }

 .bundle > .right_col > .bundle_lite > .hero_button{
            transition: .5s ease-in-out;
 }

 .txt {
   color: #B15A1A;
}

 .bundle_lite{
   display: flex;
   gap: 20px;
 }
 .bundle > .left_col > img{
    width: 100%;
 
 }