.bundle {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px 0px 0px 30px;  
   background: url('images/Hero_fade.png');
 
}


.bundle  > .right_col > h1{
   line-height: 50px;
   font-size: 40px;
}

.bundle > .right_col > h1 span .txt {
      color: #B15A1A;
}

.bundle > .right_col > h1{
   margin-bottom: 20px;
}
.bundle > .right_col button {
   height: 56px;
   padding: 16px 45px 16px 45px;
   border-radius: 20px;
   font-size: 24px;
   color: black;
   border: none;
   outline: none;
   cursor: pointer;
   border: 2px solid #B15A1A;
   transition: background-color 0.3s ease in;
}

.bundle > .right_col button a {
     text-decoration: none;
     color: aliceblue;
}

.bundle_lite > .login > .my_link{
   color: black;
   
}

.bundle > .right_col button.login {
        background: transparent;
}

.txt {
   color: #B15A1A;
}

.bundle > .right_col > button .login:hover {
  background: #B15A1A;   
}
.bundle > .right_col > button {
   background: #B15A1A;
   height: 56px;
   padding: 16px 35px 16px 35px;
   border-radius: 20px;
   color: aliceblue;
   font-size: 24px;
   border: none;
   outline: none;
   cursor: pointer;
   margin: 20px 20px 0px 0px;
}
.bundle_lite{
  display: flex;
  gap: 20px;
}
.bundle > .left_col > img{
   transform: translateX(160px);

}

