.gamePage_nav{
    background: url('images/Hero_fade.png');
    padding: 20px 60px;
    height: 20vh; 
}

 .gamePage_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
} 

.brandLogo > img {
    width: 200px;
    height: 40px;
}

.gamePage_navlinks {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 20px;
        font-weight: bold;
}