.nav {
    background: url('../../assets/Hero_fade.png');
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    
}

.navbar>.logo>img {
    width: 200px;
    height: 40px;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.nav>.navbar>.navlinks>.link.active:before {
      position: absolute;
      content:"";
      width: 50%;
      height: 1px;
      border-bottom: 2px solid #B15A1A;
      bottom: 0;
}
.header_button {
    background: #B15A1A;
    height: 56px;
    padding: 16px 30px 16px 30px;
    margin-right: 20px;
    border-radius: 20px;
    color: aliceblue;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
 }

 .header_button:hover {
       letter-spacing: 0.05em;
       background-color:#bbbbbb;
       color: #B15A1A;
       font-weight: bold;
       
 }

  