.nav {
    /*background: url('../../assets/Hero_fade.png');*/
    background-color: #f5f5f5; 
    padding: 20px 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}   
       
.navbar > .logo > img {
        width: 200px;
        height: 40px;
    }
    
.nav_links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        font-size: 20px;
        font-weight: bold;
        
    }
    
.nav_links Link {
        color: aliceblue;
    }


.header_button {
        background: #B15A1A;
        min-width: 200px;
        height: 56px;
        padding: 16px 30px;
        border-radius: 20px;
        color: aliceblue;
        font-size: 24px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: .5s ease-in-out;
        
     }

 .header_button:hover {
        background-color: #D8AC8C ;
        color: black;
     }
   
.navbar > .logo > img {
    width: 200px;
    height: 40px;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    font-weight: bold;
    
}

.nav_links a {
    color: black;
    text-decoration: none;

}

.header_button a {
      color: aliceblue;
}

.header_button a:hover {
    color: black;
}








  
  